<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <input type="text" v-model="name">
    <!--<input type="text" v-model="name">-->
    <input type="text" v-model="age">
    <p>{{name}}</p>
    <p>{{age}}</p>
</div>
</body>
</html>
<script>
    let data={name:"珠峰",age:10};
    let app=document.getElementById('app');
    let inputs=app.getElementsByTagName('input');
    //=>获取app下面除了input之外的所有子元素节点
    let nodeList=[...app.children].filter(item=>item.nodeName!=="INPUT");

    let cloneList=nodeList.map(item=>item.cloneNode(true));


    for(let item of inputs){
        if(item.getAttribute('v-model')){
            item.value=data[item.getAttribute('v-model')];
        }
        //=>输入的时候不断的跟新
        item.oninput=function (){
            console.log(data,this.value);
            data[this.getAttribute('v-model')]=this.value;
            console.log(data);
            console.log(data[this.getAttribute('v-model')]);
        }
    }
    let reg=/\{\{(\w+)}}/;
    nodeList.forEach(item=>{
       if(reg.test(item.innerHTML)) {
           item.innerHTML=item.innerHTML.replace(reg,(...arg)=>data[arg[1]]);
       }
    });

    Object.defineProperties(data,{
        name:{
            set(value){
                //   console.log(this === data);//=>true this等于当前的val
                for(let item of inputs){
                    if(item.getAttribute('v-model')==='name'){
                        console.log(item);
                        item.value=value;
                    }
                }
                cloneList.forEach((item,index)=>{
                    nodeList[index].innerHTML=item.innerHTML.replace(/\{\{(name)}}/g,()=>value);
                });
            },
            get(){

            }
        },
        age:{
            // set(value){
            //     for(let item of inputs){
            //         if(item.getAttribute('v-model')==='age'){
            //             console.log(item);
            //             item.value=value;
            //         }
            //     }
            //     cloneList.forEach((item,index)=>{
            //         nodeList[index].innerHTML=item.innerHTML.replace(/\{\{(age)}}/g,()=>value)
            //     });
            // }
        }
    });
    // data.name='mq';
    // data.age=100;
</script>