<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <!--checkbox 中只有有了v-model checked 就没有作用了-->
    <!--<input type="checkbox" value="apple" checked v-model="isCheck">apple-->

    <!--多选 每一个checkbox的v-model都是同一个数据而且是一个数组,只要是选中checkbox就会将value加载数组中 如果没有value值就是null-->
    <input type="checkbox" value="apple1"  v-model="arr" @change="checkOne">apple1
    <input type="checkbox" value="apple2"  v-model="arr" @change="checkOne">apple2
    <input type="checkbox" value="apple3"  v-model="arr" @change="checkOne">apple3
    <input type="checkbox" value="apple3"  v-model="isCheck" @change="checkAll">all
</div>
</body>
</html>
<script src="js/vue.js"></script>
<script>
    let vm=new Vue({
        el:"#app",
        data:{
            apple:false,
            arr:[]
        },
        methods:{
            checkOne(){
                // all 是否被选中取决于arr的length是否为3
                //isCheck 的值 就是arr.length是不是3

                //=>这里的this都是vm(这是重点)
                this.isCheck=this.arr.length===3;
            },
            checkAll(){
                //isCheck true  arr=['apple1','apple1','apple1']
                //=>isCheck false arr=[]
                this.arr=this.isCheck?['apple1','apple1','apple1']:[];
            }
        }
    })
</script>